
  body {
    background-color: rgb(72, 82, 18);
  }
  :root {
    --main-font: "Pacifico", cursive;
    --sec-font: "Righteous", sans-serif;
    --third-font: "PT Sans Caption", sans-serif;
  }
  ::selection {
    background-color: #ff0000;
  }
  h1 {
    font-family: var(--main-font);
    font-size: 50px;
    color: #eb0000;
    isolation: isolate;
  }
  h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #ff0800;
    transition: height 350ms;
    z-index: -1;
  }
  
  h1:hover::before {
    height: 50% !important;
  }
  label {
    font-family: var(--third-font);
    font-size: 16px;
    font-weight: 600;
    color: rgb(33, 37, 41);
    line-height: 24px;
    padding: 10px 0 !important;
    color: #3ca55c;
  }
  input {
    margin-bottom: 17px;
    padding: 7px !important;
  }
  
  .button {
    background-color: #ff0000 ;
    border: solid 1px #ffcfcf ;
    transition: all 1s;
  }
  .button:hover {
    background-color: #3ca55c ;
    border: #3ca55c solid 1px ;
  }
  .text-book h2 {
    font-family: var(--sec-font);
    background-image: linear-gradient(to right, #d0faea, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-book i {
    padding: 0 9px;
    font-size: 20px;
  }
  .icon-1 {
    color: #3ca55c;
  }
  .icon-2 {
    color: #b5ac49;
  }
  
  table {
    font-family: var(--third-font);
    padding: 15px 10px !important;
    text-align: center;
  }


